<!DOCTYPE HTML>

<html class = "xlarge large medium small">
	<head>
		<title>Classicfy</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'skel', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style-large', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style-medium', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style-small', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style-xlarge', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style-xsmall', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'init', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skel-layers.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skel.min', 'data-turbolinks-track' => true %>


		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<!-- <script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript> -->
			<!-- <link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" /> -->
		<!-- </noscript> -->
	</head>
	<body class="landing">
    <div id="skel-layers-parent" style="position: absolute; left: 0px; top: 0px; min-height: 100%; width: 100%;">
      <div id="skel-layers-wrapper" style="position: absolute; left: 0px; right: 0px; top: 0px; transition: top 0.5s ease, right 0.5s ease, bottom 0.5s ease, left 0.5s ease, opacity 0.5s ease;">

      </div>
    </div>
		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">Classicfy</a></strong></h1>
				<!-- <nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav> -->
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Classicfy</h2>
				<p>Personalizing classical music experiences.</p>
				<!-- <ul class="actions">
					<li><a href="#" class="button special big">Get Started</a></li>
				</ul> -->
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 150%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>About Us</h2>
									<p>Our Vision</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
								<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. </p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Our Solution</h2>
							<!-- <p>Maecenas vitae tellus feugiat eleifend</p> -->
						</header>
						<div class="row 150%">
							<div class="6u 12u$(small)">
								<div class="image fit captioned">
									<img src="../assets/example.jpg" alt="" />
									<h3>Make Musical Connections.</h3>
								</div>
							</div>
							<div class="6u 12u$(small)">
								<div class="image fit captioned">
									<img src="../assets/example2.jpg" alt="" />
									<h3>Curate Classical Playlists.</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="/form" class="button special big">Help Curate!</a></li>
							<!-- <li><a href="#" class="button big">Sed vulputate</a></li> -->
						</ul>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
					<header class="major special">
						<h2>Meet The Team</h2>
						<!-- <p>Feugiat sed lorem ipsum magna</p> -->
					</header>

					<div class="feature-grid">
						<div class="feature">
							<div class="image rounded"><img src="../assets/andrew.jpg" alt="" />
							</div>
							<div class="content">
								<header>
									<h4>Andrew Goldstein</h4>
									<p>Director</p>
								</header>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
							</div>
						</div>
						<div class="feature">
							<div class="image rounded"><img src="../assets/cami.jpg" alt="" />
							</div>
							<div class="content">
								<header>
									<h4>Camila Cano</h4>
									<p>Backend Engineer</p>
								</header>
								<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
							</div>
						</div>
              <!-- <div class="6u 12u$(small)"> -->
						<div class="feature">
							<div class="image rounded"><img src="../assets/cristal.jpg" alt="" />
							</div>
							<div class="content">
								<header>
									<h4>Cristal Tay</h4>
									<p>Software Developer</p>
								</header>
								<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
							</div>
						</div>
              <!-- <div class="6u 12u$(small)"> -->
					  <div class="feature">
            	<div class="image rounded"><img src="../assets/josh.jpg" alt="" />
							</div>
							<div class="content">
								<header>
									<h4>Josh Peters</h4>
									<p>UX Developer</p>
								</header>
								<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>VIP Status</h2>
							<p>BE THE FIRST TO GET ACCESS WHEN THE APP GOES LIVE!</p>
						</header>
						<ul class="actions">
							<%= yield %>
							<!-- <li><a href="#" class="button special big">Get early access</a></li> -->
						</ul>
					</div>
				</section>

  		<!-- Footer -->
  			<footer id="footer">
  				<div class="container">
  					<!-- <ul class="icons">
  						<li><a href="#" class="icon fa-facebook"></a></li>
  						<li><a href="#" class="icon fa-twitter"></a></li>
  						<li><a href="#" class="icon fa-instagram"></a></li>
  					</ul> -->
  					<ul class="copyright">
  						<!-- <li> </li> -->
  						<li>&copy; Classicfy</li>
  						<!-- <li></li> -->
  					</ul>
  				</div>
  			</footer>
      </div>
    </div>
	</body>
</html>
